/* Diseño base para todas las páginas */
body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor centralizado para formularios */
.auth-card {
    background: #181818;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #1DB954;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
