<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>StudyBeat</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<nav class="navbar">
    <div class="logo">🎧 StudyBeat</div>

    <div class="nav-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/tasks">Tareas</a>
        <a href="/grades">Notas</a>
        <a href="/goals">Metas</a>
        <a href="/logout" class="logout">Salir</a>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
