{% extends 'base.html' %}

{% block title %}
StudyBeat
{% endblock %}

{% block auth_content %}

<div class="hero">

```
<div class="hero-content">

    <h1>StudyBeat</h1>

    <p>
        Organiza tus tareas, controla tus calificaciones,
        alcanza tus metas y estudia con música.
    </p>

    <div class="hero-buttons">

        <a href="{{ url_for('login') }}" class="btn">
            Iniciar Sesión
        </a>

        <a href="{{ url_for('register') }}" class="btn btn-outline">
            Crear Cuenta
        </a>

    </div>

</div>
```

</div>

{% endblock %}
