<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBeat | Organiza tu éxito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>StudyBeat</h1>
        <a href="/login">Iniciar Sesión</a>
    </nav>
    <main>
        <section class="hero">
            <h2>Estudia con ritmo, alcanza tus metas.</h2>
        </section>
    </main>
</body>
</html>
