{% extends 'base.html' %}

{% block title %}
Iniciar Sesión
{% endblock %}

{% block auth_content %}

<div class="auth-container">

```
<form method="POST" class="auth-card">

    <h2>Iniciar Sesión</h2>

    <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        required>

    <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required>

    <button type="submit" class="btn">
        Entrar
    </button>

    <p>
        ¿No tienes cuenta?
        <a href="{{ url_for('register') }}">
            Regístrate
        </a>
    </p>

</form>
```

</div>

{% endblock %}
