{% extends 'base.html' %}

{% block title %}
Música
{% endblock %}

{% block content %}

<h1 class="page-title">
    Música para Estudiar
</h1>

<div class="music-grid">

```
<div class="card">

    <h3>LoFi Hip Hop</h3>

    <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/jfKfPfyJRdk"
        allowfullscreen>
    </iframe>

</div>

<div class="card">

    <h3>Piano Relajante</h3>

    <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/lFcSrYw-ARY"
        allowfullscreen>
    </iframe>

</div>

<div class="card">

    <h3>Música Instrumental</h3>

    <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/WPni755-Krg"
        allowfullscreen>
    </iframe>

</div>

<div class="card">

    <h3>Study Music</h3>

    <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/5qap5aO4i9A"
        allowfullscreen>
    </iframe>

</div>
```

</div>

{% endblock %}
