{% extends 'base.html' %}

{% block title %}
Registro
{% endblock %}

{% block auth_content %}

<div class="auth-container">

```
<form method="POST" class="auth-card">

    <h2>Crear Cuenta</h2>

    <input
        type="text"
        name="username"
        placeholder="Nombre completo"
        required>

    <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        required>

    <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required>

    <button type="submit" class="btn">
        Registrarse
    </button>

    <p>
        ¿Ya tienes cuenta?
        <a href="{{ url_for('login') }}">
            Inicia sesión
        </a>
    </p>

</form>
```

</div>

{% endblock %}
